.example-container {
  width: 500px;
  max-width: 100%;
  margin: 0 100px 25px 0;
  display: inline-block;
  vertical-align: top;

  &.example-list {
    display: inline-block;
  }
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  display: block;
}

.market-group-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.market-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  &.active {
    background-color: #4bb0c7;
    font-weight: bold;
  }

  .filler {
    flex: 1;
  }

  h5{
    margin-right: 0.5rem;
  }

  &.hoverActive {
    background-color: skyblue;
  }
}

.market-box {
  padding: 20px 10px;
  position: relative;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  &.active {
    background-color: #55d2ee;
    font-weight: bold;
  }

  .market-number {
    position: absolute;
    left: -4rem;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: auto;
  min-width: 12rem;
}

button {
  flex: 1;
  margin-left: 1rem;
}

.icon {
  margin-right: 10px;
}

.example-box.add-new {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px dashed #ccc;
}

.example-box.add-new span {
  margin-right: 8px;
  color: #007bff;
}

.example-box {
  display: flex;
  align-items: center;
  padding: 10px;
}

.example-box span, .example-box mat-icon {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.add-new {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px dashed #ccc;
}
