<div cdkDropListGroup>
  <div class="example-container">
    <h2>Market Collections ({{ data.collections.length }})</h2>

    <div
      cdkDropList
      id="marketGroupings"
      cdkDropListConnectedTo="marketGroupings"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="canDrop"
      [cdkDropListData]="data.collections"
      class="example-list">

      <div class="example-box add-new" (click)="onAddMarketGroup()">
        <span>Add New</span>
        <mat-icon>add</mat-icon>
      </div>

      @for (item of data.collections; track item) {
        <div class="example-box"
             cdkDrag
             #activeMarketGrouping
             [ngClass]="{active: $index === activeMarketGroupingIndex}"
             (mouseenter)="mouseEnterActiveMarketCollection($index, activeMarketGrouping)"
             (mouseleave)="mouseLeaveActiveMarketCollection($index, activeMarketGrouping)"
             (click)="setActiveMarketGrouping($index)">

          <span>{{ item.name }}</span>

          <span (click)="onEditMarketGroupName($index)">
            <mat-icon>edit</mat-icon>
          </span>

          <div class="filler"></div>

          <span (click)="$event.stopPropagation(); onDeleteMarketGroup(item.name)">
            <mat-icon>delete</mat-icon>
          </span>
        </div>
      }

    </div>
  </div>

  <div class="example-container">
    <h2>Markets ({{ data.collections[activeMarketGroupingIndex].markets.length }})</h2>

    <div
      cdkDropList
      id="markets"
      cdkDropListConnectedTo="markets"
      [cdkDropListData]="data.collections[activeMarketGroupingIndex].markets"
      [cdkDropListEnterPredicate]="canDrop"
      class="example-list"
      (cdkDropListDropped)="drop($event)">

      <div class="example-box add-new" (click)="onAddMarket()">
        <span>Add New</span>
        <mat-icon>add</mat-icon>
      </div>

      @for (item of data.collections[activeMarketGroupingIndex].markets; track item) {
        <div class="example-box market-box"
             cdkDrag
             [ngClass]="{active: $index === activeMarketIndex}"
             (click)="setActiveMarket($index)"
             (cdkDragEnded)="onDragMarketEnd(item)"
             (cdkDragStarted)="onDragMarket(item, $index)">
          <div class="market-number">
            <mat-checkbox></mat-checkbox>
            {{ $index }}
          </div>
          <span>{{ item.name }}</span>
          <span (click)="onEditMarketName($index); $event.stopPropagation()">
            <mat-icon>edit</mat-icon>
          </span>
          <div class="filler"></div>
          <h5>In Play </h5>
          <mat-slide-toggle [checked]="item.inplay" (change)="item['inplay'] = $event.checked">

          </mat-slide-toggle>
          <span (click)="$event.stopPropagation(); onDeleteMarket($index)">
            <mat-icon>delete</mat-icon>
          </span>
        </div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>Merged ({{ data.collections[activeMarketGroupingIndex].markets[activeMarketIndex]?.merged?.length }})</h2>

    <div class="example-list">
      @for (item of data.collections[activeMarketGroupingIndex].markets[activeMarketIndex]?.merged; track item) {
        <div class="example-box market-box">
          <span>{{ item.name }}</span>
          <span (click)="onEditMarketName($index); $event.stopPropagation()">
            <mat-icon>edit</mat-icon>
          </span>
          <div class="filler"></div>
          <h5>In Play </h5>
          <mat-slide-toggle [checked]="item.inplay" (change)="item['inplay'] = $event.checked">

          </mat-slide-toggle>
          <span (click)="$event.stopPropagation(); onDeleteMerged($index)">
            <mat-icon>delete</mat-icon>
          </span>
        </div>
      }
    </div>
  </div>

  <div class="button-container">
    <button mat-raised-button
            class="export"
            (click)="input.click()">Load JSON
    </button>
    <button mat-raised-button
            class="export"
            (click)="onExportJson()">Export JSON
    </button>
    <input #input type="file" style="display: none" (change)="onJsonLoad($event)">
    <button mat-raised-button
            class="export"
            (click)="onExportCsv()">Export CSV
    </button>
  </div>
</div>
